@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    color: #0000f0;
    font-family: 'Fredoka', sans-serif;
}

h1, h2 {
    font-size: clamp(2.3rem, 5vw, 3rem);
    text-align: center;
    color: #288128;
}

.nav-bar {
    height: 2rem;
    margin-top: .3rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-float {
    clear: both;
}

/*positioning for buttons in main navigation at top of page. float used
to position them to the right*/
.nav-button {
    font-size: 1.5rem;
    float: right;
    line-height: 2rem;
    margin: 0 1rem;
    list-style-type: none;
}

body a {
    text-decoration: none;
    color: white;
}

.home-icon {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-left: .5rem;
}

.background-image {
    background-color: #74db1f;
    background-image: url("../images/dew-on-grass-medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*flexbox used to position and align main heading on home page*/
.main-container {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 550px;
}

.main-heading-container {
    width: Min(80%, 900px);
    align-self: center;
}

.quiz-button-container {
    align-self: center;
    width: 150px;
}

.hidden {
    display: none;
}

.center {
    width: Min(900px, 80%);
    text-align: center;
    margin: 20px auto;
}

.lrg-text {
    font-size: clamp(1.6rem, 4vw, 3rem);
}

.small-txt {
    font-size: clamp(1.4rem, 1.4vw, 1.5rem);
}

.medium-txt {
    font-size: clamp(1.6rem, 2.5vw, 3rem);
}

.btn {
    font-size: clamp(1.5rem, 1.7vw, 1.6rem);
    padding: .4em;
    border-radius: 5px;
    background-color: #cf4a02;
    color: white;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-rt {
    margin-right: 1rem;
}

.nav-margin {
    margin-top: 4rem;
}

.result-box {
    width: Min(700px, 80%);
    margin: 30vh auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.orange {
    color: #bf4808;
}

.pink {
    color: #cf26aa;
}

.green {
    color: #0b6a1b;
}

.dk-gray {
    color: #333333;
}

.image {
    width: 100%;
    height: auto;
}

.img-container {
    width: 100%;
}

.option-label-group {
    display: inline-block;
}